*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(218, 226, 240);;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 20px 60px;
    margin: 0;
}


details {
    font-size: large;
}


.education summary {
    font-size: large;
    right: 60px;
}
.experience summary {
    font-size: large;
    left: 200px;
}
.skills summary {
    font-size: large;
}
.interests summary {
    font-size: large;
}


p {
    font-size: medium;
}
