*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Cormorant Garamond", serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(218, 226, 240);;
    min-height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10% 20px 60px;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0 0 30px;
}

details {
    font-size: large;
    text-align: left;
    margin-bottom: 12px;
}

summary {
    font-size: large;
    cursor: pointer;
}


p {
    font-size: medium;
}
